<form method="POST" action="/newhire" enctype="multipart/form-data">
  <h2>Set up tasks for a new hire</h2>

  <ul class="info">
    <li>When you click "Submit," all of the tasks described in the <a
    href="/tasktable">task map</a> for the appropriate kind of employee will
    automatically be set up in Redmine.</li>

    <li><strong>Note:</strong> Lots of emails will be sent. Please be sure you
    want to do this.</li>
  </ul> 

  <table>
    <tr>
      <td>First name</td>
      <td><input type="text" name="newhire-name-first"/></td>
      <td></td>
    </tr>

    <tr>
      <td>Last name</td>
      <td><input type="text" name="newhire-name-last"/></td>
      <td></td>
    </tr>

    <tr>
      <td>Department</td>
      <td><%= select_any_taskmap("newhire-klass") %></td>
      <td></td>
    </tr>

    <tr>
      <td>Start date <br/> <span class="small info">(MM/DD/YYYY)</span></td>
      <td>
        <input type="text" size="2" name="newhire-startdate-month"/>/
        <input type="text" size="2" name="newhire-startdate-day"/>/
        <input type="text" size="4" name="newhire-startdate-year"/>
      </td>
      <td></td>
    </tr>

    <tr>
      <td>Attach file(s)</td>
      <td>
        <ul id="attach-area-list">
          <input id="nfyles-input" type="hidden" name="nfyles" value="0"/>
        </ul>
      </td>
      <td><a id="add-another-button" class="small" href="#">Add another&hellip;</a></td>
    </tr>

    <tr>
      <td><input type="submit" value="Submit"/></td>
    </tr>
  </table>
</form>

<script type="text/javascript" src="/js/onboarder.js"></script>
