<form method="POST" action="/newhire">
  <h2>Set up tasks for a new hire</h2>

  <ul class="info">
    <li>When you click "Submit," all of the tasks described in the <a
    href="/taskmaps">task map</a> for the appropriate class of employee will
    automatically be set up in Redmine.</li>

    <li><strong>Note:</strong> Lots of emails will be sent. Please be sure you
    want to do this.</li>
  </ul> 

  <table>
    <tr>
      <td>First name</td>
      <td><input type="text" name="newhire-name-first"/></td>
    </tr>

    <tr>
      <td>Last name</td>
      <td><input type="text" name="newhire-name-last"/></td>
    </tr>

    <tr>
      <td>Employee class</td>
      <td><%= select_any_taskmap("newhire-klass") %></td>
    </tr>

    <tr>
      <td><input type="submit" value="Submit"/></td>
    </tr>
  </table>
</form>
