<a name="new-taskmap"></a><h2>Create a task map</h2>

<ul class="info">
  <li><p>A <em>task map</em> is used to define the list of tasks that are
  required for each new employee of a particular class.</p></li>

  <li><p>For example, onboarding an engineer involves a setup process that is
  different from onboarding a salesperson. In that case, you should have at
  least two task maps.</p></li>
</ul>


<form method="POST" action="/taskmaps">
  <table>
    <tr>
      <td>Name</td>
      <td><input type="text" name="taskmap-name"/></td>
    </tr>

    <tr>
      <td><input type="submit" value="Add"/></td>
      <td></td>
    </tr>
  </table>
</form>
