<a name="attachments"></a><h2>Attachments</h2>

<ul class="info">
  <li>These files will be attached to the top-level ticket that is created for
  every new onboarding process.</li>
</ul>

<form method="POST" action="#" enctype="multipart/form-data">
  <input type="filename" name="fyle"/>
  <input type="submit" value="Upload"/>
</form>
