<h2>Current task maps</h2>

<ul>
  <% all_taskmaps.each do |taskmap| %>
    <li><%= taskmap.name %></li>
  <% end %>
</ul>

<hr/>

<%= erb(:"partials/task_map") %>

<hr/>

<%= erb(:"partials/task_maps") %>
